@mixin pos-to-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fullFill {
  @include size(100%);
}

@mixin displayCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin round {
  border-radius: 50%;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin line-clamp($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
